.container {
  min-width: 230px;
  background-color: #2e3136;
}

.bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding: 0 15px;
  border-bottom: 2px solid #222527;
}

.title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.channels {
  width: 100%;
  /* padding: 10px; */
  padding: 15px;
}

.channel {
  display: flex;
  align-items: center;
  margin: 1px 0;
  padding: 7px 5px;
  border-radius: 4px;
  color: #d5d5d5;
  cursor: pointer;
}

.channel.active {
  background-color: #42464e;
}

.channel_icon {
  font-size: 15px;
}

.channel_text {
  margin-left: 5px;
  font-size: 15px;
  letter-spacing: 0.5px;
}