.container {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: #2f3237;
  /* background-color: hsl(217, 8%, 20%); */
}

.bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding: 0 10px;
  border-bottom: 2px solid #222527;
}

.input {
  width: 100%;
  padding: 7px 10px;
  background-color: #1e1f22;
  border-radius: 4px;
  border: none;
  color: #939ba4;
  cursor: pointer;
  font-size: 13px;
  outline: none;
}

.friends {
  flex-grow: 1;
  margin: 1px 5px 0 0;
  padding: 5px 5px 15px 7px;
  overflow-y: scroll;
}

/* Width */
.friends::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.friends::-webkit-scrollbar-track {
  background-color: #2e3337;
  border-radius: 4px;
}

/* Handle */
.friends::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 4px;
}

.default {
  display: flex;
  align-items: center;
  margin: 1px 0;
  padding: 7px 8px;
  border-radius: 4px;
  color: #d5d5d5;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.default:hover {
  background-color: rgba(66, 69, 75, 0.5);
}

.default.active {
  background-color: #42464e;
}

.default_icon {
  margin-right: 12px;
}

.default_text {
  margin-top: 1px;
}

.title {
  margin: 20px 0 8px 0;
  color: #d3d6d9;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.friend {
  position: relative;
  display: flex;
  align-items: center;
  margin: 3px 0;
  padding: 7px 8px;
  border-radius: 4px;
  color: #d5d5d5;
  cursor: pointer;
}

.friend:hover {
  background-color: rgba(66, 69, 75, 0.5);
}

.friend.active {
  background-color: #42464e;
}

.friend_left {
  position: relative;
}

.friend_img {
  border-radius: 50%;
  margin-right: 5px;
}

.friend_text {
  margin-left: 5px;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.friend_bubble {
  position: absolute;
  bottom: 0;
  right: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2A2D31;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend_bubble_color {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #767A83;
}

.friend.online .friend_bubble_color {
  background-color: #209D55;
}