.form {
  display: flex;
  flex-direction: column;
  padding: 20px;

}

.input {
  width: 80%;
  margin: 10px auto;
  padding: 15px 10px;
  border: none;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  /* outline: none; */
}

.input {
  width: 100%;
  margin: 10px auto;
  padding: 15px 10px;
  border: none;
  border-radius: 4px;
  color: #444;
  font-size: 14px;
  background-color: #E2E5E8;
  outline: none;
  color: #303338;
}

.button {
  width: 80%;
  margin: 10px auto;
  padding: 15px 10px;
  border: none;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.button {
  width: 100px;
  padding: 8px 5px;
  border: none;
  border-radius: 4px;
  color: #FCFCFE;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  background-color: #5765f2;
}